<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Завтрак</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous">
    </script>
    <style>
        .bg-roz{
        background-color: #fc74c6}
    </style>
</head>
<style>

</style>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success sticky-top" style="height: 20mm;">
    <div class="container">
        <a class="navbar-brand fs-2" href="/">Proper nutrition</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fs-5" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Питание
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="breakfast">Завтрак</a></li>
                        <li><a class="dropdown-item" href="lanch">Обед</a></li>
                        <li><a class="dropdown-item" href="dinner">Ужин</a></li>
                    </ul>
                </li>
                <a class="nav-link fs-5" href="table_calories">Таблицы калорийности продуктов</a>
                <a class="nav-link fs-5" href="calories">Счетчик суточной калорийности</a>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-xl-12 col-12 leftside">
            <h1 class="bg-roz p-2" style="border-radius: 5mm;">Из чего должен состоять правильный завтрак</h1>
            <div class="article-wrap my-5">
                <p class="fs-5">Людей, которые пропускают завтрак можно встретить сплошь и рядом.
                    Кому-то не хочется жертвовать драгоценными минутами утреннего сна ради того, чтобы поесть.
                    А кто-то утверждает, что не в состоянии заставить себя съесть хоть сколько-нибудь еды после
                    пробуждения.
                    Многим из нас невдомёк, как много мы теряем не позавтракав.
                    Даже если вы поставили цель похудеть, не пренебрегайте утренним приёмом пищи.
                </p>
                <p class="fs-5">
                    Абсолютно все врачи твердят о пользе завтрака.
                    Имеется целый ряд причин не отказываться от этого процесса:
                </p>
                <ul class="fw-semibold fs-5">
                    <li>
                        Завтрак придаст с утра сил и энергии.
                    </li>
                    <li>
                        Поспособствует поднятию настроения.
                    </li>
                    <li>Укрепит иммунную систему.</li>
                    <li>Убережёт от желания перекусить чем-то калорийным.</li>
                    <li>Поможет запустить работу ЖКТ.</li>
                    <li>Настроит мозг на продуктивную работу.</li>
                </ul>
                <p  class="fs-5">
                    Как видите, поев утром, вы окажете услугу своему организму.
                    У вас хватит запасов энергии на выполнение работы, посещение тренировок,
                    а в обед вы не съедите больше, чем нужно.
                    Вместе с завтраком печень получит необходимый ей сахар и продолжит работу без сбоев.
                </p>
                <div class="text-center">
                    <img src="https://tekhnolog.com/wp-content/uploads/2018/01/rasshirennyi_kontinentalnyi_zavtrak.jpg"
                         class="img-fluid"
                         alt="">
                </div>
                <h2 style="text-align: center; border-radius: 5mm;" class="my-5 bg-roz p-2">
                    Организация завтрака
                </h2>
                <p  class="fs-5">
                    Чтобы завтрак пошёл впрок, следует уделить внимание его организации
                    Первым делом после пробуждения диетологи рекомендуют выпить стакан тёплой воды.
                    Туда можно добавить лимонный сок. Это разбудит организм, даст старт правильной работе кишечника.
                    Примерно через полчаса после этого можно и позавтракать.
                    Системы человеческого тела довольно хорошо приспосабливаются к новым условиям.
                    Потому скоро ваш организм привыкнет получать пищу с утра, при условии, что это будет происходить
                    регулярно.
                </p>
                <p  class="fs-5">
                    Ещё один аспект, который советуют соблюдать – это умеренная калорийность завтрака.
                    Блюда, которые вы едите с утра, не должны быть чересчур плотными.
                    Так вместо бодрости вы получите слабость и вялость.
                    Вдобавок лишние калории быстро превратятся в лишние килограммы.
                    Но и не завтракать или обойтись только чашкой кофе тоже не выход.
                    Это негативно отразиться на общем состоянии.
                    В этом случае организм недополучит энергию, необходимую для активности.

                </p>
                <p  class="fs-5">
                    Те, кто говорят, что не могут завтракать, лучше начать с небольших порций, постепенно приучая своё
                    тело к поступлению пищи в это время суток.
                    Помочь в этом может красивая сервировка стола, приятная музыка (но не телевизор с новостями!),
                    вкусные блюда.
                    Так завтрак станет ассоциироваться с чем-то приятным.
                </p>
                <h2 class="my-4 bg-roz p-2" style="text-align: center; border-radius: 5mm;">
                    Выбираем продукты для правильного завтрака
                </h2>
                <p class="fs-5">
                    Переедание вредно при любом приёме пищи. К завтраку это тоже относится.
                    Выбирать калорийные блюда на завтрак стоит только тем, кто выполняет тяжелую физическую работу в течение дня.
                    Если же ваша активность умеренная или практически отсутствует, лучше остановитесь на лёгких блюдах.
                    Но при этом в них должны обязательно присутствовать углеводы и белки.
                </p>
                <p  class="fs-5">
                    Итак, какие же продукты отлично подойдут для завтрака? Вот, что рекомендуют диетологи:
                </p>
                <ul class="fw-semibold fs-5">
                    <li>
                        Цельнозерновые каши. «Правильные» медленные углеводы обеспечат выработку энергии.
                        Благодаря клетчатке, содержащейся в неочищенных зёрнах, желудок и кишечник будут полноценно работать.
                        К тому же, пищевые волокна заполняют желудок, надолго создавая ощущение насыщения. В каши можно добавлять молоко, сухофрукты, орешки, мёд по желанию.
                    </li>
                    <li>
                        Мюсли, хлеб из муки грубого помола или с отрубями.
                        Тоже являются источником сложных углеводов.
                        Только помните, что мюсли должны быть без сахара и синтетических добавок.
                        Молоко отлично будет с ними сочетаться. Хлеб грубого помола или с добавлением отрубей хорошо подойдёт для бутербродов.
                    </li>
                    <li>
                        Яйца. Могут готовиться в таком виде, каком вы их предпочитаете.
                        В яичницу или омлет можно добавить овощи или отварное мясо.
                        С яйцами в организм поступает белок.
                    </li>
                    <li>
                        Кисломолочная продукция. Здесь выбор довольно богатый – йогурт, творог и изделия из него, разнообразные сыры.
                        Критерий выбора – сниженная жирность и минимальное количество сахара.
                        В творог или сырники лучше добавить мёд и сухофрукты, а йогурт обязательно должен быть натуральным, без наполнителей.
                        Кисломолочные изделия пополнят запасы белка и кальция, отрегулируют работу ЖКТ.
                    </li>
                    <li>
                        Нежирное мясо. Ещё один источник белка.
                        Кусок мяса можно положить на цельнозерновой бутерброд, завернуть в лаваш, добавить к яйцам или в салат.
                        Можно просто съесть небольшой кусочек мяса. Но учтите, что в эту категорию не входят колбасы, балыки, копчёное мясо.
                        Этих продуктов лучше вообще избегать, не только во время завтрака.
                    </li>
                    <li>
                        Овощи. В них содержится полезная клетчатка и небольшое количество калорий.
                        Это могут быть запеченные или тушеные овощи. Как вариант – салат из свежих овощей или овощной смузи.
                        Для его приготовления сложить выбранные овощи в блендер и перетрите их.
                        Если напиток получился слишком густым можно добавить воды или кефир.
                    </li>
                    <li>
                        Фрукты. Кроме пищевых волокон, богаты на витамины и микроэлементы. Например, в банане содержится много калия.
                        Фруктовые салаты заправляются несладким йогуртом или кефиром. Можно подсластить мёдом.
                        Также из фруктов готовят свежевыжатые соки и коктейли. Только цитрусовые соки лучше не пить на голодный желудок.
                    </li>
                    <li>
                        Кофе и чай. Эти бодрящие напитки прекрасно дополнят завтрак.
                        Выбирайте натуральный кофе вместо растворимого аналога.
                        Сегодня есть молотый кофе, который можно заварить в чашке, вместо турки, просто залив кипятком.
                        Добавление специй обогатит вкусовые качества кофе. Чай тоже предпочесть заварной, а не пакетированный.
                        Он может быть чёрным, зелёным или травяным.
                    </li>
                </ul>
                <p class="fs-5">
                    Очевидно, что перечень продуктов, которые доступны для приготовления правильного полезного завтрака, достаточно обширен.
                    Скомбинировав предложенные продукты можно получить не только полезные, но и аппетитные блюда.
                </p>
                <div class="text-center my-4">
                    <img src="https://cdn0.radioromantika.ru/vardata/modules/news/files/1/3134/news_file_3134_5b57356524112.jpg"
                         class="img-fluid"
                         alt="">
                </div>
                <p class="fs-3">
                    А вот что не годится для завтрака:
                </p>
                <ul class="fw-semibold fs-5">
                    <li>Бутерброды со сливочным маслом и колбасой.</li>
                    <li>Торты и пирожные.</li>
                    <li>Жареные блюда.</li>
                    <li>Полуфабрикаты.</li>
                    <li>Блюда быстрого приготовления.</li>
                </ul>
                <p class="fs-5">
                    Придерживаясь правил составления правильного завтрака, вы позаботитесь о своём организме.
                </p>


            </div>
        </div>
    </div>
</div>



</div>

</body>
</html>