<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ужин</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous">
    </script>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success" style="height: 20mm;">
    <div class="container">
        <a class="navbar-brand fs-3" href="/">Proper nutrition</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fs-5" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Питание
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="breakfast">Завтрак</a></li>
                        <li><a class="dropdown-item" href="lanch">Обед</a></li>
                        <li><a class="dropdown-item" href="dinner">Ужин</a></li>
                    </ul>
                </li>
                <a class="nav-link fs-5" href="table_calories">Таблицы калорийности продуктов</a>
                <a class="nav-link fs-5" href="calories">Счетчик суточной калорийности</a>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="col-xl-10 col-12 leftside">
        <h1 style="background-color: #787cf0; border-radius: 5mm;" class="p-3">Из чего должен состоять правильный ужин</h1>
        <div class="fs-5 my-5">
            <p>
                Установлен факт, что ужинать нужно за 3-4 часа, до того, как вы ляжете спать. Это время отведено на то,
                чтобы организм переварил пищу и усвоил все питательные вещества. Когда вы придерживаетесь правильного
                питания, ваш ужин должен содержат следующие продукты.
            </p>
            <p>
                Белки: Лучший способ спланировать здоровый ужин — начать с выбора хорошего источника белка. Курица —
                общий выбор, но есть и другие здоровые варианты. Рассмотрим некоторые из них:
            </p>
            <ul>
                <li>Рыба. Дорада, тунец, хек и другая рыба отлично подходят для вашего ужина, потому, что они богаты
                    белком и очень вкусные. Многие сорта рыб также содержат важные омега-3 жирные кислоты. Избегайте
                    панированных и разных рыбных замороженных продуктов, всегда используйте качественную и свежую рыбу.
                </li>
                <li>
                    Говядина. Это мясо отличный источник белка, но употреблять нужно в разумных порциях. Попробуйте
                    стейк или филе миньон на гриле, мясо должно быть не жирное.
                </li>
                <li>
                    Яйца. Хотя может показаться странным есть яйца на ужин, но яичный белковый омлет с овощами может
                    стать хорошим ужином.
                </li>
                <li>
                    Овощи и зелень: Лучший правильный ужин включает множество разнообразных овощей.
                </li>

            </ul>
            <p>
                Итак, после того, как вы выберете свой белок, заполните оставшуюся часть вашей тарелки любимыми
                овощами и зеленью. Свежий перец, шпинат, морковь, красный мангольд, кабачки и огурец, укроп,
                петрушка, зеленые листья салата — добавят вашему ужину цвета и аромата.
            </p>
            <p>
                Ужин, основанный на принципах правильного питания очень прост – всего две составляющие Белок и Овощи. Это
                залог вашего здоровья и красоты.
            </p>
            <div class="text-center">
                <img src="https://dietology.pro/upload/iblock/9e7/9e731f031841e8e69218db0839b7002c.jpeg" alt="">
            </div>
        </div>


    </div>
</div>

</body>
</html>