<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proper nutrition</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous">
    </script>
    <style>

    </style>
</head>
<body style="background-image : url(https://kartinkin.net/uploads/posts/2021-07/1626262468_14-kartinkin-com-p-temnii-fon-dlya-menyu-krasivo-15.jpg);
 background-attachment: fixed; background-size: ;">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="height: 20mm; background-color: #fc5e03;">
    <div class="container">
        <a class="navbar-brand fs-2" href="/">Proper nutrition</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active fs-5" aria-current="page" href="/"></a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fs-5 fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Питание
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="breakfast">Завтрак</a></li>
                        <li><a class="dropdown-item" href="lanch">Обед</a></li>
                        <li><a class="dropdown-item" href="dinner">Ужин</a></li>
                    </ul>
                </li>
                <a class="nav-link fs-5 fw-bold" href="table_calories">Таблицы калорийности продуктов</a>

                <a class="nav-link fs-5 fw-bold" href="calories">Счетчик суточной калорийности</a>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    <div class="text-white">
        <h1 style="font-size: 60px; line-height:px;">ПРАВИЛЬНОЕ ПИТАНИЕ - ОСНОВА ДЛЯ ЗДОРОВЬЯ</h1>
        <p style="line-height:27px;" class="fs-4">Следование рекомендациям здорового питания в сочетании с регулярными
            физическими упражнениями сокращает риск
            хронических заболеваний и расстройств, таких как ожирение, сердечно-сосудистые заболевания, диабет,
            повышенное давление и рак. Урбанизация, рост количества переработанной еды и изменения в образе жизни
            людей привели к изменению их питания. Многие люди не потребляют достаточного количества фруктов, овощей и
            других источников клетчатки, таких как цельное зерно. Овощи и фрукты являются хорошим источником клетчатки
            и необходимых организму витаминов и минералов. Практически во всех странах есть рекомендации по правильному
            питанию,
            в которых предписывается употребление овощей и фруктов.
        </p>
        <div class="my-5">
            <h2 class="p-2" style="background-color: #f27c27; border-radius: 5mm;">ПРИНЦЫПЫ ПРАВИЛЬНОГО ПИТАНИЯ</h2>
            <ul class="fs-5">
            <li>Контролируйте баланс калорий и объем съеденного.
                Вес увеличивается, когда организм получает с пищей больше энергии, чем ему требуется.
                Чтобы знать, сколько «топлива» надо вашему организму, воспользуйтесь онлайн калькулятором.
                В среднем суточная потребность составляет 1500-2000 ккал. Не имеет значения, чем переедать,
                котлетами или яблоками.
                Если даже блюдо Вам очень нравится, держите объем порции под контролем.
            </li>
            <li>Питайтесь регулярно. Ешьте не реже трех раз в день. Любую нехватку питания организм воспринимает как
                наступление голода и начинает создавать в теле запасы – жировые отложения. Оптимальные перерывы
                между
                приемами пищи – не более 5 часов, последний прием пищи – за 3 часа до сна. Ночью – никакой еды.
                При таком режиме Вы не будете переедать или испытывать чувство голода.
            </li>
            <li>
                Следите за разнообразием питания. Однообразная еда лишает Вас удовольствия и не обеспечивает
                организм
                всеми необходимыми питательными веществами: белки, жиры, углеводы, витамины, микроэлементы.
                Выбирайте и комбинируйте в меню полезные продукты: овощи, зелень, мясо, рыбу, орехи, молочные
                продукты,
                бобовые, хлеб из муки грубого помола, крупы из нешлифованного зерна, макароны из твердых сортов
                пшеницы, ягоды, фрукты.
            </li>
            <li>
                Овощи и фрукты - каждый день. В день на обед и на ужин – 400 граммов овощей (картофель не в счёт!).
                Самый легкий способ получить нужную порцию - заполнить половину своей тарелки зеленью и овощами
                каждый раз, когда Вы садитесь за стол для приема пищи. Отдавайте предпочтение местным овощам. Лучше
                есть свежие овощи, или щадяще обработанные термически. Зимой готовьте блюда из замороженных овощей и
                ягод. Будьте осторожны с фруктами – они содержат много сахара и могут привести к прибавке веса.
            </li>
            <li>Ограничьте сахар. Сладости вызывают чувство быстрого, но краткосрочного насыщения, нельзя заменять
                ими завтрак, обед, ужин.
                Выбирайте «правильные» сладости: натуральный мармелад, зефир, пастилу, домашнюю выпечку, сухофрукты
                и помните – количество имеет значение!
            </li>
            <li>Скажите «НЕТ» полуфабрикатам, фаст-фуду, колбасам, сосискам. Эти продукты содержат в своем составе
                более 30% «скрытого» жира. Для улучшения вкуса их коптят, добавляют искусственные красители,
                консерванты, ароматизаторы, усилители вкуса, соль в большом количестве – всё это плохо влияет на
                здоровье.
            </li>
            <li>Составляйте меню на неделю. Ничто так не сэкономит Ваши деньги, время и нервы, как составление
                еженедельного меню. Конечно, придётся потратить часок в неделю на составление плана питания, но
                тогда не нужно будет мучиться каждый день над вопросом «А что на ужин?», исчезнет ежедневная
                проблема «что купить по дороге домой и что из этого приготовить, да желательно по-быстрому».
            </li>
            <li> Делайте «умный» шоппинг. Каждый раз, когда идете в магазин, составьте список необходимых продуктов.
                Старайтесь не ходить за продуктами голодным.
                Это поможет Вам избежать ненужных покупок.
            </li>
            </ul>
            <div>
                <h2 class="p-2" style="background-color: #f27c27; border-radius: 5mm;">КАК НАЧАТЬ ПРАВИЛЬНО ПИТАТЬСЯ </h2>
                <p class="fs-5">Необязательно с первого дня следовать всем принципам здорового питания. Попробуйте вводить и
                    закреплять новые привычки постепенно, добавляя больше задач и варьируя их в поисках оптимального
                    баланса.</p>
                <ul class="fs-5">
                    <li>Исключите на большую часть времени лишние продукты, включая промышленную выпечку, еду с большим
                        количеством сахара и соли, алкоголь и сладкие напитки, фастфуд.
                    </li>
                    <li>
                        Изучите свое меню, выделите любимые полезные ингредиенты, найдите новые рецепты на их основе.
                    </li>
                    <li>Изучите баланс углеводов, белков и жиров в рационе, проследите за сытостью и самочувствием от
                        смены баланса макронутриентов.
                    </li>
                    <li>Не забывайте про водный баланс. В среднем это 1,5-2 л чистой воды в день, но норма у каждого
                        своя. Важно, чтобы ее не заменяли магазинные соки, компоты с сахаром и газированные напитки.
                    </li>
                    <li>
                        Включите в рацион полезные перекусы, чтобы не оставаться голодным между основными приемами пищи.
                    </li>
                    <li>
                        Постарайтесь снизить количество жареных блюд, найдите замену кетчупу и майонезу. Например,
                        делайте соусы на основе греческого йогурта.
                    </li>
                    <li>
                        Добавьте в меню сложные углеводы — крупы, макароны из твердых сортов пшеницы, цельнозерновой
                        хлеб.
                    </li>
                    <li>
                        Экспериментируйте и добавляйте новые ингредиенты.
                    </li>
                </ul>
                <p class="fs-4 p-2 " style="background-color: #f27c27; border-radius: 5mm" >Главное на пути к здоровому питанию – сделать первый шаг и продержаться не менее одного месяца,
                        которого обычно достаточно для формирования любой привычки. Выбирая здоровое питание Вы
                        выбираете здоровье и активное долголетие.</p>
            </div>
        </div>
    </div>


</div>
</div>
</div>

</body>
</html>