<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Обед</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous">
    </script>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success" style="height: 20mm;">
    <div class="container">
        <a class="navbar-brand  fs-2" href="/">Proper nutrition</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active fs-5" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Питание
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="breakfast">Завтрак</a></li>
                        <li><a class="dropdown-item" href="lanch">Обед</a></li>
                        <li><a class="dropdown-item" href="dinner">Ужин</a></li>
                    </ul>
                </li>
                <a class="nav-link fs-5" href="table_calories">Таблицы калорийности продуктов</a>
                <a class="nav-link fs-5" href="calories">Счетчик суточной калорийности</a>
            </div>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div class="col-xl-10 col-12 leftside">
        <h1 class="bg-warning p-2" style="border-radius: 5mm;">Из чего должен состоять правильный обед</h1>
        <div class="my-4 article_text" itemprop="articleBody">
            <p class="fs-5">
                Правильное питание необходимо для многих вещей: привлекательного внешнего вида, крепкого иммунитета,
                хорошего
                здоровья и самочувствия. Обед – это основная трапеза, поэтому ее нужно осуществлять правильно. Что можно
                приготовить на обед, если человек придерживается принципов правильного питания?
            </p>
            <h2 class="bg-warning p-2" style="border-radius: 5mm;">
                Принципы здорового обеда
            </h2>
            <ul class=" fs-5">
                <li class="my-2">Выпивать перед едой стакан воды. Это помогает контролировать аппетит, запускать в
                    работу
                    пищеварительную систему организма. Вода должна быть без газа или сладких добавок.
                </li>

                <li class="my-2">
                    Достаточно будет съесть только одно блюдо, которое содержит мясо. Поэтому, если человек питается по
                    принципу «первое-второе-третье», то мясо стоит добавлять лишь в одно блюдо. Например, суп на овощном
                    бульоне и гречка с курицей.

                </li>
                <li class="my-2">
                    Макаронные изделия и картофель способствуют набору лишнего веса. В супах и вторых блюдах их не
                    должно быть много. Если человек не любит супы, их вполне можно не есть.
                </li>
                <li class="my-2">
                    Дневная трапеза не должна сопровождаться чаепитием, компотом, десертом, выпечкой или сладостями, Эти
                    вещи нарушают пищеварение.

                </li>
                <li class="my-2">Суть здорового обеда – употребление большого количества белка и овощей.

                </li>
                <li class="my-2">Питаться следует приблизительно в одинаковое время.

                </li>
                <li class="my-2">Если человек после завтрака перекусывает или ест ланч, время обеда можно слегка
                    сместить вперёд.

                </li>
                <li class="my-2">Поедание пищи должно быть размеренным. На полноценный обед стоит выделять 25-30 минут.
                    Есть не
                    торопясь, не делать этого на ходу. Важно тщательно пережевывать пищу.

                </li>
                <li class="my-2">Когда на обед хочется съесть что-то калорийное, питательное, не нужно себе в этом
                    отказывать.
                    Главное – потом сделать ужин более легким.
                </li>
            </ul>
        </div>
        <div class=" container my-5 text-center">
            <img class="img-fluid" src="https://bbtr.siberianhealth.com/upload/iblock/ea7/food_very_good_3_1273.jpg" alt="">
        </div>
        <div class="fs-5">
            <h3 class="bg-warning p-2" style="border-radius: 4mm;">Обычно правильный обед выглядит следующим образом</h3>
            <p>
            <ol>
                <li class="my-2">
                    Начинать трапезу стоит со стакана воды. Но если воды не хочется, ее можно заменить стаканом овощного
                    сока. Это могут быть как чистые соки, например, морковный или томатный, так и их смеси.
                </li>
                <li class="my-2">В качестве основного блюда можно съесть большую или среднюю тарелку салата. Важно,
                    чтобы в нем
                    присутствовали овощи, свежая зелень. Овощи тоже должны быть свежими, не прошедшими термическую
                    обработку. Заправить салат можно лимонным соком, натуральным оливковым маслом, яблочным или
                    бальзамическим уксусом. Если человек хочет, чтобы салат быть более сытным, можно использовать
                    нежирную сметану, а вот от майонеза, даже диетического, стоит отказаться. Это касается и других
                    соусов на его основе.
                </li>
                <li class="my-2">Вместе с салатом можно употребить отварную или запеченную рыбу, курицу, нежирную
                    телятину или
                    говядину. Желательно готовить их без добавления масла. Придать дополнительный вкус и аромат помогут
                    натуральные приправы, сушеные травы, свежая зелень.
                </li>
            </ol>
            </p>
            <h2 class="bg-warning p-2" style="border-radius: 4mm;">
                Продукты для приготовления здорового обеда
            </h2>
            <ul>
                <li>свежие ягоды, овощи, фрукты;</li>
                <li>свежая зелень;</li>
                <li>крупяные каши;</li>
                <li>макароны из твердых сортов пшеницы (в небольшом количестве);</li>
                <li>картофель (в небольшом количестве);</li>
                <li>натуральные молочные и кисломолочные продукты;</li>
                <li>нежирная рыба, морепродукты;</li>
                <li>курица или другое нежирное мясо;</li>
                <li>мясные или овощные бульоны;</li>
                <li>приправы и ароматные травы;</li>
            </ul>
            <div class=" my-5 text-center">
                <img class="img-fluid" src="https://g3.dcdn.lt/images/pix/subalansuota-mityba-86728405.jpg" alt="">
            </div>
            <p class="fs-4">
                Правильный обед подразумевает питание в определенное время и определенными продуктами. Из них можно
                составлять разные варианты вкусных и полезных блюд, которые помогут оставаться здоровым.
            </p>
        </div>
    </div>
</div>

</body>
</html>